# Build and Release Folders
bin-debug/
bin-release/
starling/doc/html/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.userprefs
*.pidb

# Project property files
.settings/
.flexProperties
.FlexUnitSettings

# OS X folders
.DS_Store
